**/.*
!.babelrc
!.editorconfig
!.gitignore
!.jsonhintrc
!.stylelintrc

target/

# IntelliJ
.idea/
*.iml

# NodeJS
/node/
/node_modules/

# Webpack
/built/
/bower_components/

# Maven release plugin
*.releaseBackup
release.properties
