doctype xml
svg(version="1.1", xmlns="http://www.w3.org/2000/svg",
    xmlns:xlink="http://www.w3.org/1999/xlink", class="bubbles")
    defs
        clipPath(id="unitCircleClip")
            circle(cx="0.5", cy="0.5", r="0.5")

        filter(id="bubbleBorderShadow", x="0", y="0", width="100%",
               height="100%")
            feGaussianBlur(in="SourceAlpha", stdDeviation="1.5", result="a")
            feComponentTransfer(in="a" result="b")
                feFuncA(type="linear", slope="0.35")
            feOffset(dx="0", dy="3" in="b" result="c")
            feMerge
                feMergeNode(in="c")
                feMergeNode(in="SourceGraphic")

        filter(id="previewThumbnailBlur")
            feGaussianBlur(in="SourceGraphic", stdDeviation="5")
    style(type="text/css")
        = require('../style/bubbles.less')
    g.bubbles
