//- Note: the JSON metadata contains HTML, not text. For example, it can contain
//- HTML entities, so we must disable output escaping...
h2
    a(href=url, title='View item')
        != title
    - if(subtitles)
        br
        small
            != subtitles
- if(abstract)
    hr
    p.abstract(title='Abstract')
        != abstract
