@import './style.css';

body {
    background: white;
}

a.campl-external {
    background: #fff;
    padding-right: 0px;
}

.thumbnail {
    height: 210px;
}

.thumbnail .caption {
    position: absolute;
    bottom: 30px;
}

.fancybox img {
    max-height: 100px;
}

#addFile {
    position: fixed;
    width: 500px;
    margin: -300px auto auto -250px;
    top: 50%;
    left: 50%;
    text-align: center;
}

#addFile .input {
    margin: 10px;
}

#deleteFile {
    position: fixed;
    width: 500px;
    margin: -300px auto auto -250px;
    top: 50%;
    left: 50%;
    text-align: center;
}

#deleteFile .input {
    margin: 10px;
}
