@import "~font-awesome/css/font-awesome.css";

@import "./similarity.css";

body {
    overflow: hidden;
    background: none repeat scroll 0% 0% #000;
    height: 100%;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 68px;
}

.navbar .container {
    margin-left: 0px;
    float: left;
    width: 100%;
    border-bottom: thin solid #333;
    background: none repeat scroll 0% 0% #000;
}

.navbar .navbar-header {
    width: 100%;
    height: 68px;
}

.navbar .cudl-title {
    margin-top: 15px;
    padding-left: 30px;
    color: #ddd;
    /*font-family: Georgia,"Times New Roman",serif;
    font-weight: normal;
    font-size:1.8em;*/
    outline: 0;
    font-family: "myriad-pro", myriad, verdana, arial, sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 35px;
    text-rendering: optimizelegibility;
}

.navbar .cudl-title a {
    color: #ddd;
    text-decoration: none;
}

.navbar #cam-logo {
    padding-top: 18px;
}

.navbar #ul-logo {
    padding-top: 18px;
}

.breadcrumb {
    padding: 11px 15px;
    margin-bottom: 0px;
    background-color: #1E7680;
    border-radius: 0px;
}

.breadcrumb a {
    color: #fff;
}

.breadcrumb>.active {
    color: #ccc;
}

/************ Seadragon Image ******************/

#seadragonImage {
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
}

.panel-closed #doc {
    width: 100%;
}

.panel-open #doc {
    width: 50%;
}

#doc {
    position: absolute;
    top: 68px;
    bottom: 0px;
    background-color: black;
    transition: width 0.5s ease;
}

.openseadragon-canvas:focus {
    outline: none;
}

.openseadragon-message {
    color: #fff;
}

/************ Seadragon Image Buttons ******************/
.cudl-viewer-buttons-pagination {
    z-index: 3000;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    width: 230px;
    color: #fff;
    text-align: center;
    display: block;
    text-shadow: 1px 1px #333;
}

.cudl-viewer-buttons-pagination input {
    color: #333;
}

.cudl-viewer-buttons-pagination:hover {
    opacity: 1;
}

.cudl-viewer-buttons-pagination .cudl-btn {
    margin: 4px;
}

.cudl-viewer-buttons-pagination input {
    text-align: right;
}

.cudl-viewer-buttons-pagination input:focus {
    opacity: 1;
}

#pageLabel {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
    z-index: 3000;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.cudl-viewer-zoom {
    z-index: 30;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.cudl-viewer-zoom-info {
    float: left;
    margin-left: 8px;
    height: 32px;
}

#zoomFactor {
    color: #fff;
    z-index: 3000;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    vertical-align: middle;
    line-height: 32px;
}

.cudl-viewer-buttons-zoom {
    float: left;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.cudl-viewer-buttons-zoom:hover {
    opacity: 1;
}

.cudl-viewer-buttons-zoom .cudl-btn {
    margin: 4px;
}

.cudl-viewer-buttons-maximize {
    z-index: 30;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.cudl-viewer-buttons-maximize:hover {
    opacity: 1;
}

.cudl-viewer-buttons-maximize .cudl-btn {
    margin: 4px;
}

.cudl-btn {
    border: 1px solid #a7a7a7;
    background: rgba(41, 41, 41, 0.8);
    border-radius: 4px;
    color: white;
    box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.35);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    padding: 4px 5px;
    font-size: 14px;
    line-height: 14px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cudl-btn:hover {
    border: 1px solid #5fb8ff;
}

.cudl-btn:active {
    background: #314d93;
}

/************ Information panel ******************/
#about-content {
    padding-left: 15px;
    width: 80%;
    margin-bottom: 15px;
    max-width: 640px;
}

.about-content-page {
    color: #999;
    font-size: 0.9em;
}

.about-docAuthority {
    color: #333;
    font-size: 0.9em;
    font-style:italic;
}


.panel-closed #right-panel {
    right: -50%;
}

.panel-open #right-panel {
    right: 0;
}

.right-panel {
    color: #000;
    position: absolute;
    top: 68px;
    width: 50%;
    z-index: 5000;
    background-color: #eee;
    transition: right 0.5s ease;
}

.right-panel .toggle-btn {
    position: absolute;
    top: 44%;
    left: -30px;
    width: 30px;
    z-index: 330;

    font-size: 20px;
    line-height: 30px;
    padding: 0;

    background-color: #fff;
    color: #2F2F2F;
    text-align: center;
    border-radius: 2px 0 0 2px;

    cursor: pointer;
}
.right-panel .toggle-btn:focus {
    outline: none;
}

#abouttab {
    margin-right: 30px;
    width: 100%;
}

#tab-content {
    background: #fff;
    width: 100%;
    height: 100%;
}

#contentstab {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#contentstab .list-group {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.thumbnail-pane .row-right-to-left {
    /*Reverses direction of thumbnails for items with right-to-left text direction*/
    display: flex;
    flex-direction: row-reverse;
}

#zoomRights {
    color: #999;
    font-size: 0.8em;
}

#download {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#download .copyright {
    color: #999;
    font-size: 0.8em;
    align:left;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width:400px;
}

#download .btn {
    width: 160px;
    float:left;
}

.downloadpanel .button {
    width:160px;
    height:54px;
}

#metadatacontent {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: 10px;
}

#metadatacontent ul {
    list-style: none;
}

.usebutton {
    float:left;
    padding:2px;
}

.usebutton a {
    width:110px;
    color: #fff;
    background-color: #75a8b3;
    border-color: #31708f;
}

.usebutton a:hover, .usebutton a:active {
    background-color: #31708f;
}

/* transcriptions */

#transcriptionnorm, #transcriptiondiplo, #translation {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position:relative;
}

#transcriptionnorm .framediv, #transcriptiondiplo .framediv, #translation .framediv {
    position:absolute;
    top:42px;
    bottom:0px;
    left:0;
    right:0px;
    -webkit-overflow-scrolling: touch !important;
    overflow:auto;
    border:0px;
    padding:0px;
    margin-right:0px;
}

#transcriptionnormframe, #transcriptiondiploframe, #translationframe {
    height: 98%;
    width: 100%;
    border: 0px;
    padding: 0px;
}

/* pop up confirmations */
#bookmarkConfirmation,
#downloadConfirmation,
#fullDocumentPdfConfirmation,
#downloadMetadataConfirmation {
    width: 350px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 9000;
    left: 0;
    right: 0;
    top: 200px;
    color: #000;
}

#downloadConfirmation select {
    height: 28px;
    border: 1px solid #bbb;
}

#bookmarkConfirmation.close,
#downloadConfirmation .close,
#fullDocumentPdfConfirmation .close,
#downloadMetadataConfirmation .close {
    margin-top: -15px;
    margin-right: -10px;
}

.displaybox {
    color: #000;
    padding: 10px;
    border: 1px dashed #000;
    margin: 25px;
    background-color: #eee;
}

/** Responsive Design Stuff **/
@media ( max-width :991px) {
    .thumbnail-pane .row-right-to-left {
        /*Remove row reversal when thumbnails become single column*/
        display: block;
    }
}

@media (max-width: 760px) {
    #cam-logo {
        margin-left: 20px;
    }
    #ul-logo {
        display: none;
    }
    .cudl-viewer-buttons-pagination {
        font-size: 1.2em;
        top:15px;
    }
    #nextPage {
        height: 34px;
        width: 34px;
        margin-top: 0px;
    }
    #prevPage {
        height: 34px;
        width: 34px;
    }
    .navbar .cudl-title {
        font-size: 30px;
        white-space: nowrap;

    }

    .panel-open #doc {
        width: 10%;
    }

    .panel-closed #right-panel {
        right: -90%;
    }

    #right-panel {
        width: 90%;
    }
}

@media ( max-width :550px) {
    .cudl-viewer-buttons-pagination {
        margin-right: 20px;
    }
}

@media ( max-width :400px) {
    #cam-logo {
        display: none;
    }
    .cudl-viewer-buttons-pagination {
        margin-right: auto;
    }
}
/** End of Responsive **/
