@import "@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "font-awesome/css/font-awesome.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "cookieconsent/build/cookieconsent.min.css";
@import "special-fonts.css";

body {
    font-family: 'NewAthenaUnicode',verdana, arial, sans-serif;
    font-size: 12px;
    overflow: hidden;
    background: none repeat scroll 0% 0% #000;
    height: 100%;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 68px;
    --bs-navbar-padding-y: 0;
}

.navbar .container {
    margin-left: 0px;
    float: left;
    width: 100%;
    max-width: 100%;
    border-bottom: thin solid #333;
    background: none repeat scroll 0% 0% #000;
}

.navbar .navbar-header {
    width: 100%;
    height: 68px;
}

.navbar .cudl-title {
    margin-top: 15px;
    padding-left: 30px;
    color: #ddd;
    /*font-family: Georgia,"Times New Roman",serif;
    font-weight: normal;
    font-size:1.8em;*/
    outline: 0;
    font-family: "myriad-pro", myriad, verdana, arial, sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 35px;
    text-rendering: optimizelegibility;
}

.navbar .cudl-title a {
    color: #ddd;
    text-decoration: none;
}

.navbar #cam-logo {
    padding-top: 18px;
}

.navbar #ul-logo {
    padding-top: 18px;
}

.breadcrumb {
    padding: 11px 15px;
    margin-bottom: 0px;
    background-color: #1E7680;
    border-radius: 0px;
}

.breadcrumb a {
    color: #fff;
}

.breadcrumb>.active {
    color: #ccc;
}

/************ Seadragon Image ******************/

#mainViewContainer {
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
}

.panel-closed #mainView {
    width: 100%;
}

.panel-open #mainView {
    width: 50%;
}

#mainView {
    position: absolute;
    top: 68px;
    bottom: 0px;
    background-color: black;
    transition: width 0.5s ease;
}
#seadragon {
    width: 100%;
    height: 100%;
}
#rti {
    width: 100%;
    height: 100%;
}

.openseadragon-canvas:focus {
    outline: none;
}

.openseadragon-message {
    color: #fff;
}

/************ Seadragon Image Buttons ******************/
.cudl-viewer-buttons-pagination {
    z-index: 3000;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    width: 230px;
    color: #fff;
    text-align: center;
    display: block;
    text-shadow: 1px 1px #333;
}

.cudl-viewer-buttons-pagination input {
    color: #333;
}

.cudl-viewer-buttons-pagination:hover {
    opacity: 1;
}

.cudl-viewer-buttons-pagination .cudl-btn {
    margin: 4px;
}

.cudl-viewer-buttons-pagination input {
    text-align: right;
}

.cudl-viewer-buttons-pagination input:focus {
    opacity: 1;
}

#pageLabel {
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #fff;
    z-index: 3000;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.cudl-viewer-zoom {
    z-index: 30;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.cudl-viewer-zoom-info {
    float: left;
    margin-left: 8px;
    height: 32px;
}

#zoomFactor {
    color: #fff;
    z-index: 3000;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    vertical-align: middle;
    line-height: 32px;
}

.cudl-viewer-buttons-zoom {
    float: left;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.cudl-viewer-buttons-zoom:hover {
    opacity: 1;
}

.cudl-viewer-buttons-zoom .cudl-btn {
    margin: 4px;
}

.cudl-viewer-buttons-zoom #rotationSlider {
    display: inline-block;
    width: 64px;
    margin: 0 8px;
}

.cudl-viewer-buttons-zoom #rotationSlider .ui-slider-handle {
    background-color: rgba(41, 41, 41, 1) !important;
    margin-top: 1px !important;
}

.cudl-viewer-buttons-maximize {
    z-index: 30;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.cudl-viewer-buttons-maximize:hover {
    opacity: 1;
}

.cudl-viewer-buttons-maximize .cudl-btn {
    margin: 4px;
}

.cudl-btn {
    border: 1px solid #a7a7a7;
    background: rgba(41, 41, 41, 0.8);
    border-radius: 4px;
    color: white;
    box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.35);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    padding: 4px 5px;
    font-size: 14px;
    line-height: 14px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cudl-btn:hover {
    border: 1px solid #5fb8ff;
}

.cudl-btn:active {
    background: #314d93;
}

/************ Information panel ******************/
#about-content {
    padding-left: 15px;
    width: 80%;
    margin-bottom: 15px;
    max-width: 640px;
}

.about-content-page {
    color: #999;
    font-size: 0.9em;
}

.about-docAuthority {
    color: #333;
    font-size: 0.9em;
    font-style:italic;
}


.panel-closed #right-panel {
    right: -50%;
}

.panel-open #right-panel {
    right: 0;
}

.right-panel {
    color: #000;
    position: absolute;
    top: 68px;
    width: 50%;
    z-index: 5000;
    background-color: #eee;
    transition: right 0.5s ease;
}

.right-panel .toggle-btn {
    position: absolute;
    top: 44%;
    left: -30px;
    width: 30px;
    z-index: 330;

    font-size: 20px;
    line-height: 30px;
    padding: 0;

    background-color: #fff;
    color: #2F2F2F;
    text-align: center;
    border-radius: 2px 0 0 2px;

    cursor: pointer;
}
.right-panel .toggle-btn:focus {
    outline: none;
}

#abouttab {
    margin-right: 30px;
    width: 100%;
}

#tab-content {
    background: #fff;
    width: 100%;
    height: 100%;
}

#contentstab {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#contentstab .list-group {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.thumbnail-pane .row-right-to-left {
    /*Reverses direction of thumbnails for items with right-to-left text direction*/
    display: flex;
    flex-direction: row-reverse;
}

#zoomRights {
    color: #999;
    font-size: 0.8em;
}

#download {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#download .copyright {
    color: #999;
    font-size: 0.8em;
    text-align:left;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width:400px;
}

#download .btn {
    width: 160px;
    float:left;
}

.downloadpanel .button {
    width:160px;
    height:54px;
}

#download div.addthis_sharing_toolbox {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}

#metadatacontent {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: 10px;
}

#metadatacontent ul {
    list-style: none;
}

#use {
    width: 100%;
    display: block;
    background-color: #fff;
    border: #ddd 1px solid;
}

#use .panel-body {
    padding: 10px;
    overflow: hidden;
}

.usebutton a.btn {
    padding: 3px 6px;
}

.usebutton {
    float:left;
    padding:2px;
    vertical-align: middle;
}

.usebutton a {
    width: 90px;
    color: #fff;
    background-color: #75a8b3;
    border-color: #31708f;
    font-size: 11px;
}

.usebutton a:hover, .usebutton a:active {
    background-color: #31708f;
}

.usebutton i, .usebutton img {
    height: 24px;
    float: left;
    margin-top: 3px;
}

.usebutton i {
    margin-top: 5px;
}

/* transcriptions */

#transcriptiondiplo, #translation {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position:relative;
}

#transcriptiondiplo .framediv, #translation .framediv {
    position:absolute;
    top:42px;
    bottom:0px;
    left:0;
    right:0px;
    -webkit-overflow-scrolling: touch !important;
    overflow:auto;
    border:0px;
    padding:0px;
    margin-right:0px;
}

#transcriptiondiploframe, #translationframe {
    height: 98%;
    width: 100%;
    border: 0px;
    padding: 0px;
}

/* .thumbnailpaginationitem {
    padding: 2px;
}

#thumbnailpaginationtop .pagination {
    margin: auto;
    width: 100px;
} */

#openlime {
    position:relative;
    height: 100%
}

#openlime>canvas {
    width: 100%;
    height: 100%;
    /* this is important, it would cause firefox flickering! */
    overflow: hidden;
}

/* pop up confirmations */
#bookmarkConfirmation,
#downloadConfirmation,
#fullDocumentPdfConfirmation,
#singlePagePdfConfirmation,
#downloadMetadataConfirmation {
    width: 350px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 9000;
    left: 0;
    right: 0;
    top: 200px;
    color: #000;
}

.close {
    float: right;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
    text-decoration: none;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.alert {
    padding: 15px;
    margin-bottom: 17px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}


#downloadConfirmation select {
    height: 28px;
    border: 1px solid #bbb;
}

#bookmarkConfirmation.close,
#downloadConfirmation .close,
#fullDocumentPdfConfirmation .close,
#singlePagePdfConfirmation .close,
#downloadMetadataConfirmation .close {
    margin-top: -15px;
    margin-right: -10px;
}

.displaybox {
    color: #000;
    padding: 10px;
    border: 1px dashed #000;
    margin: 25px;
    background-color: #eee;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

button, select {
    text-transform: none;
}

/** Responsive Design Stuff **/

@media ( max-width :991px) {
    .thumbnail-pane .row-right-to-left {
        /*Remove row reversal when thumbnails become single column*/
        display: block;
    }
}

@media (max-width: 1400px) {
    #use .usebutton a {
        width: 55px;
        height: 40px;
        padding-top: 6px;
    }

    #use .usebutton i, #use .usebutton img {
        height: 24px;
        float: none;
        margin-top: 1px;
    }

    #use .usebutton span {
        display: none;
    }
}

@media (max-width: 760px) {
    #cam-logo {
        margin-left: 20px;
    }
    #ul-logo {
        display: none;
    }
    .cudl-viewer-buttons-pagination {
        font-size: 1.2em;
        top:15px;
    }
    #nextPage {
        height: 34px;
        width: 34px;
        margin-top: 0px;
    }
    #prevPage {
        height: 34px;
        width: 34px;
    }
    .navbar .cudl-title {
        font-size: 30px;
        white-space: nowrap;

    }

    .panel-open #doc {
        width: 10%;
    }

    .panel-closed #right-panel {
        right: -90%;
    }

    #right-panel {
        width: 90%;
    }
}

@media ( max-width :550px) {
    .cudl-viewer-buttons-pagination {
        margin-right: 20px;
    }
}

@media ( max-width :400px) {
    #cam-logo {
        display: none;
    }
    .cudl-viewer-buttons-pagination {
        margin-right: auto;
    }
}

/* PANEL CLASSES for Bootstrap 5.3 */

#about-content h3 {
    font-size: 1.313rem; /*21px based on root 16px */
    margin-top: 1.063rem; /*17px based on 16px root*/
    margin-bottom: 0.531rem; /*8.5px based on 16px root*/
}

#about-header {
    font-size: 1.313rem; /*21px based on root 16px */
    line-height: 1.1;
    }

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875rem; /*14px based on root 16px*/
    color: inherit;
}

#know-more h4 {
    font-size: 0.875rem; /*14px based on root 16px*/
}

.panel-group {
    margin-bottom: 17px;
}

.panel {
    margin-bottom: 17px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
    border-color: #ddd;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-info {
    border-color: #bce8f1;
}

.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #bce8f1;
}

.panel-body {
    padding: 15px;
}

/* Overrides scss dropdown default --- Allows metadata info panels to show contents */
.collapse:not(.show) {
    display: block;
}

/* Class for "know-more" panel */

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Classes for "More" dropdown menu */

.dropdown-menu {
    font-size: 0.75rem; /*12px based on root 16px*/
    text-align: left;
    list-style: none;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

/* Link styling in document page */

.nav-link, a {
    color: #337ab7;
    text-decoration: none;
}

/* Thumbnails tab pagination and panel styles for Bootstrap 5.3 */

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 17px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border 0.2s ease-in-out;
}

.thumbnail > img,
.thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #337ab7;
}

.thumbnail .caption {
    padding: 9px;
    color: #333333;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 17px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eeeeee;
    border-color: #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
