#cudl-editor-confirmation.alert.alert-info.cudl-editor-confirmation
    a.close(href="javascript:") &times;
    | Saving the page as:
    br
    br
    input(type="text" name="filename" value="")
    br
    br
    button.btn.btn-default.btn-success(type="button") Yes
    button.cancel.btn.btn-default(type="button") Cancel
